@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#profile {
    text-align: center;
}

#linkProfile {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #BB99DD;
    padding-top: 20px;
}

#imgProfile {
    padding: 5px;
    border-radius: 100%;
    box-sizing: border-box;
    border: 2px solid #BB99DD;
    width: 200px;
    height: 200px;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 326px;
}

#buttonLink {
    box-sizing: border-box;
    height: 49px;
    border: 2px solid #BB99DD;
    border-radius: 4px;
}

#buttonLink>p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #BB99DD;
}

#socialLinks > a {
    margin: 8px;
    justify-content: space-between;
}

